.window {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.group-box {
	display: grid;
	gap: 20px;
	border-radius: 15px;
	box-shadow: 0 0 15px 3px #21212120;
	padding: 20px;
}

.text {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spacer {
	height: 20px;
}
